<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Web test Onliner" parallel="methods" thread-count="5">


<parameter name="suiteOwner" value="qpsdemo"/>
	<parameter name="jenkinsJobName" value="Web-Demo-Test"/>
	<parameter name="jenkinsJobType" value="web"/>
	<parameter name="jenkinsEnvironments" value="DEMO"/>
	<parameter name="jenkinsEmail" value="demo@qaprosoft.com"/>
  
	<parameter name="jenkinsRegressionPipeline" value="web_regression, full_regression"/>
	<parameter name="jenkinsPipelineEnvironments" value="DEMO"/>

	<parameter name="jenkinsRegressionMatrix_full_regression" value="browser: chrome; browser: firefox; browser: opera"/>
	<parameter name="jenkinsJobExecutionOrder" value="1"/>
	<parameter name="jenkinsJobExecutionMode" value="continue"/>
	<parameter name="jenkinsAutoScreenshot" value="true"/>


	<test name="Onliner web tests">
		<classes>
			<class name="com.qaprosoft.carina.demo.onliner.CarSearchTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.RentApartmentTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.FleaMarketPageTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.ExchangeTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.WeatherTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.ForumPageTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.LogInByEmail"/>
			<class name="com.qaprosoft.carina.demo.onliner.OpenCatalogPageTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.PeopleNewsTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.SearchInCatalogTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.ActiveServicesTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.OpenCarMarketPageTest"/>
			<class name="com.qaprosoft.carina.demo.onliner.SportFrameTest"/>
		</classes>

	</test>

</suite>